<link rel="stylesheet" type="text/css" charset="utf-8" href="../../assets/stylesheets/summernote-bs4.scss">
<script type="text/javascript" charset="utf-8" src="../../assets/javascripts/summernote-bs4.min.js"></script>


<h1>Editing Project</h1>

<%= render 'form', project: @project %>

