/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "material_icons";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote-bs4.scss";


body {
  padding-top: 70px;
  padding-bottom: 60px;
}

.material-icons {
  vertical-align: middle;
}


/** PROFILE FORM CARDS **/
.profile-card-body {
  margin: 0px 10px;
}

/** SOCIAL MEDIA COLORS **/
.facebook-colors {
  background-color: #3b5998;
}

.youtube-colors {
  background-color: #ff0000;
}

.twitter-colors {
  background-color: #55acee;
}

.instagram-colors {
  background-color: #e95950;
}

.facebook-color {
  color: #3b5998;
}

.youtube-color {
  color: #ff0000;
}

.twitter-color {
  color: #55acee;
}

.instagram-color {
  color: #e95950;
}

.facebook-colors, .youtube-colors, .twitter-colors, .instagram-colors {
  font-weight: bold;
  color: #fff;
}